# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Sensitive files
terraform.tfvars
*.auto.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files
crash.log
crash.*.log

# Local environment variables
.env
.env.local
